body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    background-color: rgba(203, 206, 211, 0.644);
}
header{
    background-color: rgba(198, 231, 238, 0.766);
}
main{
    font-size: larger;
    grid-template-columns: auto;
    flex-wrap: unset;
}
ul{
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(164, 111, 213);
}
p{
    line-height: 150%;
}
div{
    display: inline-block;
}
.current{
    text-transform: uppercase;
    text-decoration: none;
}